<div class="card flex justify-content-center">
  <p-menu [model]="items" styleClass="horizontal-menu"></p-menu>
</div>

<div *ngIf="menuItemClicked === 'searchEvent'" style="margin-top: 25px;">
  <div>
    <label>Event name</label>
  </div>
  <div>
    <input type="text" pInputText [(ngModel)]="eventNameSearch" />
  </div>
  <div style="margin-top: 10px;">
    <label>Event start date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="dateFromSearch"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Event end date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="dateToSearch"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Free entrance?</label>
  </div>
  <div>
    <p-dropdown [options]="freeEntrancePick" [(ngModel)]="selectedFreeEntrancePick" optionLabel="name" [showClear]="true"></p-dropdown>
  </div>
  <div style="margin-top: 10px;">
    <label style="margin: 5px;">Region:</label>
    <p-multiSelect [options]="regions" [(ngModel)]="selectedRegions" optionLabel="name" 
        (onChange)="onRegionChange()"></p-multiSelect>
    <label style="margin: 5px;">Municipality:</label>
    <p-multiSelect [options]="municipalities" [(ngModel)]="selectedMunicipalities" optionLabel="name"
        (onChange)="onMunicipalitiesChange()"></p-multiSelect>
    <label style="margin: 5px;">Cities:</label>
    <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
  </div>
  <div style="margin-top: 10px; display: flex;">
    <div style="margin-right: 10px;">
      <p-button [loading]="loading" label="Search" (onClick)="filterEvents()"></p-button>
    </div>
    <p-button label="Clear filters" (onClick)="clearFilterEvents()"></p-button>
  </div>
  <div class="card" style="margin-top: 5px;">
    <p-table [value]="filteredEvents" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Date from</th>
                <th>Date to</th>
                <th>City</th>
                <th>Free entrance</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.dateFrom }}</td>
                <td>{{ event.dateTo }}</td>
                <td>{{ event.cityDTO.name }}</td>
                <td>{{ event.freeEntrance }}</td>
                <td>
                  <p-button label="Update" (click)="onUpdateEvent(event)" icon="pi pi-pencil"></p-button>
                  <p-button label="Delete" (click)="onDeleteEvent(event)" icon="pi pi-times" label="Delete" styleClass="p-button-danger"></p-button>
              </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>

<div *ngIf="menuItemClicked === 'addEvent'" style="margin-top: 25px;">
  <div>
    <label>Event name</label>
  </div>
  <div>
    <input type="text" pInputText [(ngModel)]="eventNameAdd" />
  </div>
  <div style="margin-top: 10px;">
    <label>Event start date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="dateFromAdd"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Event end date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="dateToAdd"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Free entrance?</label>
  </div>
  <div>
    <p-dropdown [options]="freeEntrancePick" [(ngModel)]="selectedFreeEntrancePickAdd" optionLabel="name" [showClear]="true"></p-dropdown>
  </div>
  <div style="margin-top: 10px;">
    <label>City</label>
  </div>
  <div>
    <p-dropdown [options]="citiesAdd" [(ngModel)]="selectedCityAdd" optionLabel="name" [showClear]="true" placeholder="Select a City" [filter]="true" filterBy="name"></p-dropdown>
  </div>
  <div style="margin-top: 10px; display: flex;">
    <div style="margin-right: 10px;">
        <p-button [loading]="loading" label="Add" (onClick)="addEvent()"></p-button>
    </div>
    <div>
        <p-button label="Clear all" (onClick)="clearAddEvent()"></p-button>
    </div>
</div>
</div>

<div *ngIf="updateClicked === 'updateEvent'" style="margin-top: 25px;">
  <div>
    <label>Event name</label>
  </div>
  <div>
    <input type="text" pInputText [(ngModel)]="updateEventName" />
  </div>
  <div style="margin-top: 10px;">
    <label>Event start date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="updateDateFrom"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Event end date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="updateDateTo"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Free entrance?</label>
  </div>
  <div>
    <p-dropdown [options]="freeEntrancePick" [(ngModel)]="updateSelectedFreeEntrancePick" optionLabel="name" [showClear]="true"></p-dropdown>
  </div>
  <div style="margin-top: 10px;">
    <label>City</label>
  </div>
  <div>
    <p-dropdown [options]="citiesAdd" [(ngModel)]="selectedCityUpdate" optionLabel="name" [showClear]="true" placeholder="Select a City" [filter]="true" filterBy="name"></p-dropdown>
  </div>
  <div style="margin-top: 10px; display: flex;">
    <div style="margin-right: 10px;">
        <p-button [loading]="loading" label="Update" (onClick)="updateEvent()"></p-button>
    </div>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

