<div class="card flex justify-content-center">
  <p-menu [model]="items" styleClass="horizontal-menu"></p-menu>
</div>

<div *ngIf="menuItemClicked === 'searchEvent'" style="margin-top: 25px;">
  <div>
    <label>Event name</label>
  </div>
  <div>
    <input type="text" pInputText [(ngModel)]="eventNameSearch" />
  </div>
  <div style="margin-top: 10px;">
    <label>Event start date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="dateFromSearch"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Event end date</label>
  </div>
  <div>
    <p-calendar [showIcon]="true" [showTime]="true" [(ngModel)]="dateToSearch"></p-calendar>
  </div>
  <div style="margin-top: 10px;">
    <label>Event start date</label>
  </div>
  <div>
    <p-dropdown [options]="freeEntrancePick" [(ngModel)]="selectedfreeEntrancePick" optionLabel="name" [showClear]="true" placeholder="Free entrance?"></p-dropdown>
  </div>
  <div style="margin-top: 10px;">
    <label style="margin: 5px;">Region:</label>
    <p-multiSelect [options]="regions" [(ngModel)]="selectedRegions" optionLabel="name" 
        (onChange)="onRegionChange()"></p-multiSelect>
    <label style="margin: 5px;">Municipality:</label>
    <p-multiSelect [options]="municipalities" [(ngModel)]="selectedMunicipalities" optionLabel="name"
        (onChange)="onMunicipalitiesChange()"></p-multiSelect>
    <label style="margin: 5px;">Cities:</label>
    <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
  </div>
  <div class="card flex justify-content-center" style="margin-top: 10px;">
    <p-button [loading]="loading" label="Search" (onClick)="filterEvents()"></p-button>
  </div>
  <div class="card">
    <p-table [value]="filteredEvents" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Date from</th>
                <th>Date to</th>
                <th>Free entrance</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>